[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
urllib3 = "*"
cssselect = "*"
lxml = "*"
openpyxl = "*"
django-widget-tweaks = "*"
heroku-django = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
