{% extends 'analytic/_webdatarocket-table.html' %}
{% load static %}
{% block title %}Отчет назначений{% endblock %}
{% block content %}
    <body>
    <div id="pivot-table-container" data-url="{% url 'assigned_data' %}"></div>
    <div id="pivot-chart-container"></div>
    </body>
{% endblock content %}
{% block extra_scripts %}
    <script>
        function processData(dataset) {
            var result = []
            dataset = JSON.parse(dataset);
            dataset.forEach(item => result.push(item.fields));
            return result;
        }

        $.ajax({
            url: $("#pivot-table-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                new WebDataRocks({
                    container: "#pivot-table-container",
                    width: "100%",
                    height: 700,
                    toolbar: true,
                    report: {
                        dataSource: {
                            type: "json",
                            data: processData(data)
                        },
                        "slice": {
                            "rows": [
                                {
                                    "uniqueName": "when_assigned.Month"
                                },
                                {
                                    "uniqueName": "when_assigned.Day"
                                },
                                {
                                    "uniqueName": "agent"
                                },
                                {
                                    "uniqueName": "ticket_number"
                                },
                                {
                                    "uniqueName": "client_name"
                                }
                            ],
                            "columns": [
                                {
                                    "uniqueName": "Measures"
                                }
                            ],
                            "measures": [
                                {
                                    "uniqueName": "ticket_number",
                                    "aggregation": "count"
                                }
                            ],
                        }
                    },
                    global: {
                        // replace this path with the path to your own translated file
                        localization: '{% static 'js/webdatarocks/localization/ru.json' %}'
                    }
                });
            }
        });
    </script>
{% endblock extra_scripts %}