{% extends 'base.html' %}
{% block title %}Log in PartnerWeb{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form_beeline.html' %}
            <div class="btn-group">
              <button type="submit" name="NewDesign" class="btn btn-primary btn-block">Новый Дизайн</button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" name="NewDesign" href="#">Новый Дизайн</a>
                <a class="dropdown-item" name="OldDesign" href="#">Старый дизайн</a>
              </div>
            </div>
<!--            <button type="submit" name="NewDesign" class="btn btn-primary btn-block">NewDesign</button>-->
<!--            <button type="submit" name="OldDesign" class="btn btn-primary btn-block">OldDesign</button>-->
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}