{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Информация о доме{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1>{{ name }}</h1>
        <p></p>
        <div class="row">
            <div class="col-md-4">
                <div class="accordion" id="accordionExample">
                    {% for gp in gp_houses %}
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Глобальная проблема #{{ forloop.counter }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{ gp }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-info" onclick="checkFraud()">Проверить на ФРОД</button>
                <form method="POST" autocomplete="off" class="post-form"
                      novalidate>
                    {% csrf_token %}
                    {{ p_form|crispy }}
                    <button type="submit" formmethod="post" class="btn btn-danger">
                        Отправить
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <div style="position: relative">
                    <p><b>График монтажников:</b></p>
                    <div id="installerschedule"></div>
                    <img id='load' src="{% static 'image/load.gif' %}"
                         style="visibility: hidden; top: 20px; left: 30px; z-index: 5; position: absolute">
                </div>
            </div>
        </div>
    </div>
{% endblock content%}
{% block extra_scripts %}
    <script src="{% static 'js/beeline_js/index.js' %}"></script>
    <script type="text/javascript">
        let url = getHouseID();
        let house_id = url[3];
        let city_id = url[2];
        let ticket_id = 0;
        document.addEventListener('load', getSchedule('#installerschedule', true, 'load', house_id));
        setMobilePresets(city_id, house_id);
        setPresets(city_id, house_id);
    </script>
{% endblock %}