{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <form name="auth_form" method="post" onclick="formValidation()" novalidate>
                {% csrf_token %}
                {% include 'includes/form_beeline.html' %}
                <p></p>
                <div class="btn-group">
                    <button type="submit" name="NewDesign" class="btn btn-primary">
                        <span class="spinner-grow spinner-grow-sm"></span>
                        Войти
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function formValidation() {
            var form = document.forms['auth_form'].value;
            if (form === '') {
                window.alert('Заполните все поля')
            }
        }
    </script>
{% endblock %}

