{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron" style="display: inline-block">
                    <h3>{{ ticket_info.number }}</h3>
                    <hr>
                    <h4 style="color: gray; font-size: medium">{{ ticket_info.type }}</h4>
                    <h5 class="text-success">Дата создания: {{ ticket_info.date }}</h5>
                    <h5 class="text-warning">Дата статуса: {{ ticket_info.call_time }}</h5>
                    <hr>
                    <h4>{{ ticket_info.name }}</h4>
                    <h5>{{ ticket_info.address }}</h5>
                    <hr>
                    <h5 class="text-danger">{{ ticket_info.status }}</h5>
                    <hr>
                    <h5>Номера телефонов:</h5>
                    {% for item in ticket_info.phones %}
                        <h5><a href="tel:8{{ item.phone }}">{{ item.phone }}</a> {{ item.comment }}</h5>
                    {% endfor %}
                    <hr>
                    <form style="margin-left: -15px" method="POST" autocomplete="off" class="post-form"
                          style="margin-right: 150px"
                          novalidate>
                        {% csrf_token %}
                        {% include 'includes/form_beeline.html' %}
                        <p></p>
                        <div class="container">
                            <div class="alert alert-danger">
                                <strong> Внимание, все отправленные данные записываются!</strong>
                            </div>
                        </div>
                        <button style="margin-left: 15px" type="submit" class="save btn btn-primary btn-lg"
                                formmethod="post">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div style="overflow:hidden; display: inline-block">
                    <p>График монтажников</p>
                    <div class="form-group" style="position: relative">

                        <div class="row">
                            <div style="position: relative">
                                <div id="datetimepicker12"></div>
                                <img id='load' src="{% static 'image/load.gif' %}" style="visibility: hidden; top: 20px; left: 30px; z-index: 5; position: absolute">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    {% for gp in gp_houses %}
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Глобальная проблема #{{ forloop.counter }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{ gp }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Комментарий
            </th>
        </tr>
        </thead>
        {% for i in ticket_info.comments %}
            <tbody>
            <tr>
                <td>
                    {{ i.date }}
                </td>
                <td>
                    {{ i.text | safe }}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    <script type="text/javascript">
        $.datetimepicker.setLocale('ru');
        $('#id_datetime').datetimepicker({
            format: 'd.m.Y H:i',
        });
        $(function () {
            $('#datetimepicker12').datetimepicker(
                {
                    format: 'd.m.Y H:i',
                    inline: true,
                    sideBySide: true,
                    allowTimes: ['00:00'],
                    todayButton: true,
                    timepickerScrollbar: false,
                    onSelectDate: function (value) {
                        let globalDate = [];
                        $.ajax({
                            url: `./schedule/${value.getFullYear()}/${value.getMonth() + 1}/${value.getDate()}`,
                            dataType: "json",
                            success: function (result) {
                                $.each(result, function (key, value) {
                                    globalDate.push(key);
                                });
                                if (globalDate.length < 1) {
                                    globalDate = ['00:00']
                                }
                                $('#datetimepicker12').datetimepicker('setOptions', {allowTimes: globalDate});
                                {#.html(">')#}
                                console.log(globalDate);
                                document.getElementById('load').style.visibility = 'hidden'
                            },
                            beforeSend: function () {
                                document.getElementById('load').style.visibility = 'visible'
                            },
                        });
                    }
                });
        });
    </script>
{% endblock %}
