{% load static %}
{% if request.session.operator %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main_page_tickets' %}">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main_page_rapid' %}">Быстрая версия</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'global_search' %}">Все заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'house_search' %}">Найти адрес</a>
                </li>
                <li class="nav-item">

                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="checkNav" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Проверить данные
                </a>
                <div class="dropdown-menu" aria-labelledby="checkNav">
                     <a class="dropdown-item" href="{% url 'check_number' %}">Проверить номер</a>
                     <a class="dropdown-item" href="{% url 'check_ctn' %}">Проверить CTN</a>
                </div>
            </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Другое
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  href="{% url 'installers' %}">Монтажники</a>
                        <a class="dropdown-item"  href="{% url 'workers' %}">Агенты</a>
                        <a class="dropdown-item"  href="{% url 'ism_schedule' %}">График ИСМ</a>
                        <a class="dropdown-item"  href="{% url 'feedback' %}">Жалобы и Предложения</a>
                        <a class="dropdown-item"  href="{% url 'promoute-report-choose' %}">Залистовка</a>
                    </div>
                </li>
        </ul>
                <div class="navbar-nav">
                    <span class="nav-item nav-link" id="agent" style="color: #2ecc71" >{{ request.session.operator }}</span>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Выйти</a>
                </div>
    </div>

</nav>
{% endif %}
<p></p>