{% load static %}
{% if request.session.operator %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main_page_tickets' %}">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'global_search' %}">Все заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'installers' %}">Монтажники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fast_house_search' %}">Найти адрес</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'check_number' %}">Проверить номер</a>
                </li>
                </ul>
                <div class="navbar-nav">
                    <span class="nav-item nav-link" style="color: #2ecc71" >{{ request.session.operator }}</span>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Выйти</a>
                </div>
    </div>

</nav>
{% endif %}
<p></p>