{% extends '_base.html' %}
{% load static %}
{% block title %}Залистовка Все{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <td>Адрес</td>
            <td>Залстовщик</td>
            <td>Фото подъезды</td>
            <td>Фото стенды</td>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
                <tr id="{{ address.add }}">
                    <td id="id_address">{{ address.address }}</td>
                    <td id="id_promouter">{{ address.to_promouter }}</td>
                    <form method="post">
                                            {% csrf_token %}
                    {{ form }}
                    <td>
                        <button type="submit">Отправить</button>
                    </td>
                    </form>

                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if all_address %}
        {{ all_address }}
    {% endif %}


{% endblock %}