{% extends '_base.html' %}
{% load static %}
{% block title %}Необходимо сделать{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <td>Адрес</td>
            <td>Фото ящиков</td>
            <td>Фото стендов</td>
        </tr>
        </thead>
        <tbody>
        {% for a_data in address_data %}
            <tr>
                <td>{{ a_data.address }}</td>
                <td>
                    {% for i in a_data.mailbox_img.all %}
                        <img src="{{ i.img.url }}" width="150" height="150">
                    {% endfor %}
                </td>
                <td>
                    {% for i in a_data.entrance_img.all %}
                        <img src="{{ i.img.url }}" width="150" height="150">
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
{% endblock %}
{% block extra_scripts %}
    <script>
    var files;
    var fdata = new FormData();
    var pathArray = window.location.pathname.split('/');
    var promouter_id = pathArray[2];
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $(".file-input").on("change", function (e) {
        files = this.files;
        $.each(files, function (i, file) {
            fdata.append("file" + i, file);
        });
        fdata.append('address_id', $(this).data('address-id'));
        fdata.append('type', $(this).data('type'));
        fdata.append('promouter_id', promouter_id);
        fdata.append('csrfmiddlewaretoken', csrftoken);
        $.ajax({
            url: "/load_image/",
            type: "post",
            data: fdata, //add the FormData object to the data parameter
            processData: false, //tell jquery not to process data
        contentType: false, //tell jquery not to set content-type
            success: function (response, status, jqxhr) {
//handle success
                alert('Фотографии загружены успешно!');
                $(this).parent().addClass('.bg-success');
        },
        error: function (jqxhr, status, errorMessage) {
//handle error
            alert('Что то пошло не так')
        }
    });
    });
</script>
{% endblock extra_scripts %}