{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Найти адрес{% endblock %}
{% block content %}
    <button class="btn btn-warning btn-lg" href="{% url 'promoute-report-insert' %}"
    ><a class="btn" href="{% url 'promoute-report-insert' %}">Внести данные</a>
    </button>
    <button class="btn btn-success btn-lg"
    ><a class="btn" href="{% url 'promoute-report-find' %}">Проверить адрес</a>
    </button>
    <button class="btn btn-danger btn-lg"
    ><a class="btn" href="{% url 'promouter_choose' %}">Залистовщики</a>
    </button>

{% endblock %}